*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}



.wrapper{
    max-width: 1980px;
    margin: 0 auto;
    
}
a:hover{
    color: red;
}

.header{
    
    
    height: 71px;
}
.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 8px;
    justify-content: space-between;
    
    
    
  }
.nav{
    display: flex;
    align-items: center;
    
    
}
   
.img_play1{
    width: 100%;
}
.navbar a{
    
    text-decoration: none;
    padding-left: 40px;
    color: black;
}

.navbar a:hover{
    color: red;
    transition:0.5s;
    
}
.navbar a::after{
    background-color: #f66d52; 
    display: block;
    content: "";
    height: 2px;
    width: 0%;
   
   
}
.navbar a:hover:after,
.navbar a:focus:after {
    float: right;
    width: 50%;
}

.logo-img{
    height: 55px;
    width: 55px;
    left: 50px;
    top: 8px;
    border-radius: 0px;
    margin-top: 8px;
    margin-left: 27px;

}


@media (max-width:768px){
    .slider__wrapper{
        display: none;
    }
    .slider__button{
        display: none;
    }
    .slider__list{
        display: none;
    }
    .header{
        min-height: 90px;
    }
}

.slider__list{
    height: 530px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background: url('../img/danet.jpg   ') no-repeat center;
    
}


.slider__button--prev{
    background: none;
    border: none;
    margin-top: 460px;
    margin-left: 1350px;
}
.slider__button--next{
    background: none;
    border: none;
}

.section_info{
    padding-top: 20px ;
    flex-wrap: wrap;
}

.purchase_ticket{
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    background: #FA434B;
    border: 2px solid #FA434B;
    box-sizing: border-box;
    border-radius: 22.5px; 
    font-size: 25px;
    color: white;
    padding: 15px;
    width: 220px;
    text-decoration: none;
}

.select_ticket{
    display: flex;
    justify-content: space-between;
}

.item_left{
    font-size: 40px;
    margin-left: 50px;
    font-style: normal;
    font-weight: bold;
}

.item_right{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color:  #FFFFFF;
}
.block_item_right{
    width: 302px;
    background-color:#FA434B;
}

.choose_date{
    margin-left: 50px;
    font-size: 28px;
    font-style: normal;
}

.choose_date_info{
    width: 560px;
    font-style: normal;
font-weight: normal;
}

.purchase_btn{
    background: #FA434B;
    border: 2px solid #FA434B;
    box-sizing: border-box;
    border-radius: 22.5px;
    width: 260px;
    font-size: 32px;
    margin-right: 20px;
    color: white;
    height: 65px;
}

.cancel_btn{
    background: #C4C4C4;
    border-radius: 22.5px;
    font-size: 32px;
    width: 200px;
    border: 2px solid #C4C4C4;
    height: 65px;
}

.form_radio_btn{
    display: inline-block;
	margin-right: 10px;
    width: 220px;
}

.form_radio_btn input {
	display: none;
}

.form_radio_btn label {
	display: inline-block;	
	padding: 15px;
	user-select: none;
    border: 2px solid #FA434B;
    box-sizing: border-box;
    border-radius: 22.5px;
}

.form_radio_btn input:checked + label {
	background:#FA434B;
    color: white;
}

.section_info2{
    flex-wrap: wrap;
}
.table{
   
    margin-top: 42px;
    margin-bottom: 94px;
     
}
.th{
    padding-left: 50px;
    color: gray;
    font-weight: lighter;
    font-size: 18px;
    display: inline-block;
}
.th1{
    padding-left: 50px;
    color: black;
    font-weight: lighter;
    font-size: 36px;
}
.td{
    padding-left: 50px;
    font-size: 36px;
    display: inline-block;
}
.td1{
    padding-left: 50px;
    font-size: 20px;
}
.poster__wrapper{
    
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    
    
  
}
.poster{
    flex-wrap: nowrap;
    
    display: flex;
    
}
.poster__item{
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 25px;
    text-align: center;
    width: 335px;
    height: 450px;
    
}

.poster__name {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    
    
}
.poster__name h2 {
    padding-left: 50px;
    
}
.img-poster{
    height: 100%;
    width: 335px;
    border-radius: 10px;
}

.fourbtn{
    background-color: #FA434B;
   
    height: 105px;
    text-align: center;
}

.fourbtn__item{
    border-radius: 22.5px;
    background-color:#FA434B ;
    color: white;
    text-align: center;
    border:1px solid white;
    margin-left: 20px;
    margin-top: 30px; 
    height: 45px;
    
}
.news{
    color: black;
    height: 836px;
    background-color:white;
}

.news a{
    text-align: left;
    text-decoration: none;
    color: black;
}

.news a:hover{
    color: red;
    transition: 0.5s;
}

.news h2{
  text-align:left;
  margin: 0 auto;
  padding-left: 50px;
  padding-top: 20px;
  
}

.news h3{
  text-align: right;
  margin: 0 auto;
  padding-right: 100px;
}

.news__wrapper{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    flex-wrap: wrap;
}

.news__item{
    box-sizing: border-box;
    width: 581px;
   
    margin: 20px;
}

.news__item h3{
    text-align: left;
    padding-top: 10px;
}

.news__item p{
    padding-top: 20px;
    color: grey;
    opacity: 0.9;
}

li{
    list-style-type: none
}

@media (max-width:768px){
    


    .nav-bar {
        position: absolute;
        background-color: #FA434B;
        top: 0;
        right: 100%;
        height: 100vh;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: position 2.9s;
        -webkit-transition: position 2.9s;
        -moz-transition: position 2.9s;
        -ms-transition: position 2.9s;
        -o-transition: position 2.9s;
        z-index: 2;
    }
    
    .toggle {
        left: 0;
        box-shadow: 1px 0 15px 2px #FA434B;
        z-index: 2;
    }
    
    .toggle-menu {
        background-color: rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px 2px 2px 3px;
        border-radius: 5px;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        z-index: 2;
    }
    
    .line {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: #fff;
        transition: transform 0.2s ease-out;
        -webkit-transition: transform 0.2s ease-out;
        -moz-transition: transform 0.2s ease-out;
        -ms-transition: transform 0.2s ease-out;
        -o-transition: transform 0.2s ease-out;
        z-index: 20;
    }
    
    .toggle .line1 {
        background-color: #000000;
        transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
        z-index: 2;
    }
    
    .toggle .line2 {
        display: none;
        z-index: 2;
    }
    
    .toggle .line3 {
        background-color: #000000;
        transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
        z-index: 2;
    }
    
    .toggle .toggle-menu {
        background-color: white;
        z-index: 2;
    }
    
    .nav-list {
        list-style: none;
        z-index: 2;
    }
    
    .nav-list-item {
        text-align: center;
        padding: 10px 0;
        z-index: 2;
    }
    
    .nav-link {
        color: #fff;
        font-size: 22px;
        text-decoration: none;
        position: relative;
        padding-bottom: 4px;
        z-index: 2;
    }
    
    .nav-link::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 0.4s ease-in-out;
        transform-origin: left;
        -webkit-transition: transform 0.4s ease-in-out;
        -moz-transition: transform 0.4s ease-in-out;
        -ms-transition: transform 0.4s ease-in-out;
        -o-transition: transform 0.4s ease-in-out;
        z-index: 2;
    }
    
    .nav-link:hover::before {
        transform: scaleX(1);
        z-index: 2;
    }
}
@media (max-width:768px)
{
    .header{
        display: none;
    }
}
@media (min-width:768px)
{
    .burger{
        display: none;
    }
}
.text_block{
    padding: 50px;
}
.picture_text1
{
  position: absolute;
  color: white;
  margin-top: 380px;
  font-size: 35px;
  margin-left: 15px;
}
.picture_text2
{
  position: absolute;
  color: white;
  margin-top: 20px;
  margin-left: 15px;

  background: #FA434B;
  border: 2px solid #FA434B;
  box-sizing: border-box;
  border-radius: 30px; 
  padding: 4px;
  width: 120px;
}
.picture_text3
{
  position: absolute;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  margin-left: 160px;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px; 
  padding: 4px;
  width: 90px;
}










