*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    margin:0;
}
a:hover{
    color: red;
}

.header{
    
    
    height: 71px;
}
.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 8px;
    justify-content: space-between;
    
    
    
  }
.nav{
    display: flex;
    align-items: center;
    
    
}
   

.navbar a{
    text-decoration: none;
    margin-left: 40px;
    color: black;
}

.navbar a:hover{
    color: red;
    transition:0.5s;
}
.navbar a::after{
    background-color: #f66d52; 
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: .3s ease-in-out;
    -moz--transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.navbar a:hover:after,
.navbar a:focus:after {
    width: 100%;
}

.logo-img{
    height: 55px;
    width: 55px;
    left: 50px;
    top: 8px;
    border-radius: 0px;
    margin-top: 8px;
    margin-left: 27px;

}


.section__wrapper{
    height: 529px;
    margin: 0 auto;
    position: relative;
    text-align: center;
     
   
}
.slider__button{
    width: 45px;
    height: 45px;
    font-size: 12px;
    text-align: center;
    border-radius: 25px;
    background-color: #fff ;
    color: black;
    cursor: pointer;
    border: none;   
}

.slider__button--prev{
    margin-top: 432px;
    margin-left: 1130px;
}
.slider__button--next{
    margin-top: 432px;
    margin-left: 10px;
    margin-right: 50px;
}
.info{
    
    
    height: 100%;
    text-align: start;
}
.ainfo{
    text-align: end;
    margin-right: 50px;
    
   
}
.table{
   
    margin-top: 42px;
    margin-bottom: 94px;
     
}
.table .th{
    padding-left: 50px;
    color: gray;
    font-weight: lighter;
    font-size: 18px;
}
.table .td{
    padding-left: 50px;
    font-size: 36px;
}
.poster__wrapper{
    
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    
    
  
}
.poster{
    flex-wrap: nowrap;
    
    display: flex;
    
}
.poster__item{
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 25px;
    text-align: center;
    width: 335px;
    height: 450px;
    
   
}
.poster__name {
    
    margin: 0 auto;
    width: 100%;
    
}
.poster__name h2 {
    padding-left: 50px;
    
}
.img-poster{
    height: 100%;
    width: 335px;
    border-radius: 10px;
}

.fourbtn{
    background-color: #FA434B;
    border: 1px solid black;
    height: 105px;
    text-align: center;
}
h2{
    margin: 0px;
    font-size: 42;
    
}
.fourbtn__item{
    border-radius: 22.5px;
    background-color:#FA434B ;
    color: white;
    text-align: center;
    border:1px solid white;
    margin-left: 20px;
    margin-top: 30px; 
    height: 45px;
    
}
.news{
    color: black;
    height: 836px;
    background-color:white;
}

.news a{
    text-align: left;
    text-decoration: none;
    color: black;
}

.news a:hover{
    color: red;
    transition: 0.5s;
}

.news h2{
  text-align:left;
  margin: 0 auto;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 40px;
}

.news h3{
  text-align: right;
  margin: 0 auto;
  padding-right: 100px;
}

.news__wrapper{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    flex-wrap: wrap;
}

.news__item{
    box-sizing: border-box;
    width: 581px;
    height: 330px;
    margin: 20px;
}

.news__item h3{
    text-align: left;
    padding-top: 10px;
}

.news__item p{
    padding-top: 20px;
    color: grey;
    opacity: 0.9;
}

/* Slider */
i {
	position: relative;
	display: block;
	width: 100%;
	height: 528px;
	overflow: hidden;
	border-radius: 5px;
    
}

i:before, i:after {
	content: '⥪';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
	content: '⥭';
	left: auto;
	right: 1rem;
}


input {
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
    margin-left: 0;
}

input:focus {
	outline: none;
}

input:after {
	content: attr(title);
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	width: 580px;
	color: white;
	padding: .5rem;
	font-size: 4rem;
	border-radius: 5px;
}

input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

input:checked:before {
	display: none;
	left: 1rem;
}

input:checked {
	transform: translateX(0);
	
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

input:checked + input:before {
	left: -3rem;
}

input:checked + input ~ input:before {
	display: none;
}

.img1{
    background-image: url(https://trikky.ru/wp-content/blogs.dir/1/files/2021/05/11/scale-1200.jpg);
    
}

.img2{
    background-image: url(https://trikky.ru/wp-content/blogs.dir/1/files/2021/05/11/scale-1200.jpg);
}
.img3{
    background-image: url(https://trikky.ru/wp-content/blogs.dir/1/files/2021/05/11/scale-1200.jpg);
}
.img4{
    background-image: url(https://trikky.ru/wp-content/blogs.dir/1/files/2021/05/11/scale-1200.jpg);
}
.img5   {
    background-image: url(https://trikky.ru/wp-content/blogs.dir/1/files/2021/05/11/scale-1200.jpg);
}
/* Slider */